@import url('https://fonts.googleapis.com/css?family=Cantata+One&display=swap');

body{
    background-color: #d22b2b;
    background-image: url(Images/marksman%20background.png);
    font-family: 'Cantata One', serif;
}
        
.Nav ul {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7C0C00;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.Nav li a {
    color: white;
    text-decoration: none;
}

.Nav li {
    float: left;
    display: block;
    color: #FFF6F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Nav li:hover {
    background-color: #BD1604;
    transition: 0.3s;
}

img {
    width: 100%;
    transition: 0.3s;
}

img:hover {
    filter: brightness(90%);
}

.box {
    position: absolute;
    left: 20%;
    width: 60%;
    background-color: white;
    padding: 10px;
    height: auto;
}
.IngredientTable table {
    border-collapse: collapse;
}
.IngredientTable th {
    color: white;
    background-color: black;
}
.IngredientTable table, th, td {
    border: 1px solid black;
    padding: 10px 16px;
}

dt {
    font-size: 1.25em;
    font-weight: bold;
    padding top: 10px;
    padding-bottom: 10px;
}

#links {
    position: relative;
    left: 25%;
}

.link {
    background-color: #7C0C00;
    border: 5px outset black;
    width: 50%;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.link:hover {
    background-color: #d22b2b;
    color: black;
}

.link a {
    color: white;
    text-decoration: none;
}

.veggie {
    color: darkred;
}